<div class="row col-xs-12">
    Site Type:
    <div class="btn-group">
        <label type="button" class="btn btn-primary" ng-model="CommonState.activatedStreamflowTypes.nwis" btn-checkbox>NWIS</label>
        <label type="button" class="btn btn-primary" ng-model="CommonState.activatedStreamflowTypes.sehuc12" btn-checkbox>SE HUC12</label>
    </div>
    <button type="button" class="btn btn-primary" ng-click="toggleActivatedStreamflowTypes(true)">Both</button>
    <button type="button" class="btn btn-primary" ng-click="toggleActivatedStreamflowTypes(false)">None</button>
</div>

<div class="row spacer spacer_down col-xs-12">
    Map Controls:
    <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-model="CommonState.activatedMapControl" btn-radio="'biosites'">Select</button>
        <button type="button" class="btn btn-primary" ng-model="CommonState.activatedMapControl" btn-radio="'pan'">Pan</button>
        <button type="button" class="btn btn-primary" ng-model="CommonState.activatedMapControl" btn-radio="'zoom'">Zoom</button>
    </div>
    <span>{{CommonState.mapControlDescription}}</span>
</div>
<div id="bioSiteSelectMap" class="row spacer col-xs-12" ng-style="CommonState.mapControlCursor" style="height: 500px;"></div>