<h4 ng-bind="name"></h4>
<p ng-bind="description"></p>

<h4>Statistics for Selected Gage</h4>
<dl>
    <dt>Gage ID</dt>
    <dd ng-bind="StoredState.gage.data.STAID"></dd>
    <dt>Gage Name</dt>
    <dd ng-bind="StoredState.gage.data.STANAME"></dd>
    <dt>Drainage Area (km^2)</dt>
    <dd ng-bind="StoredState.gage.data.DRAIN_SQKM"></dd>
</dl>
<h5 ng-hide="CommonState.gageStatistics.length">Calculating Statistics...</h5>

<div ng-hide="CommonState.gageStatistics.length === 0" class="table-responsive">
        <a ng-href="{{CommonState.gageStatisticsUrl}}">Download These Statistics</a>
	<table class="table table-striped huc_table">
            <thead>
			<tr>
				<th>Name</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="stat in CommonState.gageStatistics">
				<td class="xs-col-2" ng-bind="stat.name"></td>
				<td class="xs-col-10" ng-bind="stat.value"></td>
			</tr>
		</tbody>
	</table>
</div>
<nav>
    <a ui-sref="^.setGageStatisticsParameters">Back</a>
</nav>