<div class="nwc-gage-list">
	<h4 ng-bind="gageListName"></h4>
	<p ng-bind="gageListDescription"></p>
	
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Gage ID</th>
					<th>Gage Name</th>
	                <th>Drainage Area (km&sup2;)</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="gage in gages" ng-click="onGageSelect(gage)">
					<td ng-bind="gage.data.STAID"></td>
					<td ng-bind="gage.data.STANAME"></td>
					<td ng-bind="gage.data.DRAIN_SQKM"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
