<div class="nwc-gage-list">
	<h4 ng-bind="hucListName"></h4>
	<p ng-bind="hucListDescription"></p>
	
	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Hydrologic Unit Code</th>
					<th>HUC Name</th>
	                <th>Drainage Area (km&sup2;)</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="huc in hucs | drainageLessThan2k" ng-click="onHucSelect(huc)">
					<td ng-bind="huc.data.HUC12"></td>
					<td ng-bind="huc.data.HU_12_NAME"></td>
					<td ng-bind="huc.data.DRAIN_SQKM"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
