/* *****************************************************************************
 * Project:		nwcui
 * Source:		custom.css
 * Author:		Philip Russo
 **************************************************************************** */

/* This css should be overwritten by the project using this template */

.nwc-container {
	padding-left : 20px;
	padding-right : 20px;
	background:		#f5f5f5;
	border:			1px solid #e3e3e3;
	border-radius: 	4px;
	-webkit-box-shadow:	inset 0 1px 1px rgba(0,0,0,0.05);
	box-shadow: 		inset 0 1px 1px rgba(0,0,0,0.05);
}

h5, h6 {
	font-weight : bold;
	margin-bottom: 5px;
}

.dashboard div {
    -webkit-transition:	width 0.3s ease, margin 0.3s ease;
    -moz-transition: 	width 0.3s ease, margin 0.3s ease;
    -o-transition: 		width 0.3s ease, margin 0.3s ease;
    transition: 		width 0.3s ease, margin 0.3s ease;
}

.dashboard a:visited {
	color:			#258;	
}

.important {
	color : red;
}

.dashboard_nav {
    min-width: 220px;
    padding-right: 10px;
}

.col-xs-0 {
    	display:			none; 
}

.navigation_panel {
	background: 		#2A4266;
	border-color: 		#223552 !important;
}

.navigation_panel_heading {
	background-color: #2A4266 !important;
	border-color:     #223552 !important;
	color: 			  #fff !important;
	text-align:       left;
	font-size:        18px;
}

.page_body_content {
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 15px;
}

.navigation_panel_body {
	
}

.navigation_panel_item {
	width:       100%;
	text-align:  left;
	margin-left: 0px !important;
}

.navigation_panel_item a {
	color: 			  #ddd !important;
    background-color: #2A4266 !important;
}

.navigation_panel_item a:hover {
	color:            #eee !important;
	background-color: #48638D !important;
}

.navigation_toggle_a {
	margin-right:		0px;
}

.navigation_toggle_b {
	margin-right:		15px;
}

.map_container {
	padding: 			15px;
}

.select2-container a {
	font-weight: normal;
}
.select-map {
	border: 1px solid #a3a3a3;
	height: 500px;
}
.waterbudget-map-controls .huc-layers {
	width: 8em;
	display: inline-block;
}
#biodata-gage-selection-map {
	border: 1px solid #a3a3a3;
	height: 500px;
        width: 700px;
        padding-left:20px;
}

#waterbudget-huc-data-container .info-buttons .button-div {
	display: inline-block;
}
.inset-map {
	height : 300px;
	width: 300px;
	border-style: solid;
	border-width:1px;
}
.inset-legend-container span {
	position: relative;
	top : -4px;
	line-height : 1px;
}

#statistics-calculation-div {
	margin-top : 20px;
}

.selectable-table tbody tr:hover {
	background-color:	#C8D0DD !important;
	cursor: pointer;
}

.axisLabels {
    font-size: 20px;
}

.dygraph-axis-label {
    font-size: 12px;
}

.dygraph-ylabel {
    font-size: 20px;
}

.dygraph-xlabel {
    font-size: 20px;
}

.spacer {
    margin-top: 0.5em;
}

.spacer_down {
    margin-bottom: 0.5em;
}

.big_spacer {
    margin-top: 1.5em;
}

.caution {
    color: #ff0000;
    font-weight: bold;
}

input[disabled],
select[disabled],
textarea[disabled],
input[readonly],
select[readonly],
textarea[readonly] {
    cursor: text !important;
}
.waterbudget-legend {
	padding-top : 5px;
	height: 100px;
}
.plot-legend {
	height: 55px;
}

.streamflow-plot-container
#gageList tr.gage-selected {
    background-color: #FFCC00;
}

#site-selection-text {
    padding-left: 15px;
    padding-right: 15px;
}

#site-selection-text hr {
    border-top: 2px solid #DFDCDC;
}

.sel-gages-button:focus {
    border:2px solid #000099;
}

.dismiss-btn {
    padding-right: 3px;
}
.summary-container-div {
    margin-bottom : 10px;
}

.sites-table .remove-pair {
	width : 80px;
}
.sites-table .site-name, .sites-table .gage-name {
	width: 300px;
}

.sites-table .site-drainage-area, .sites-table .gage-drainage-area {
	width: 140px;
}

table .pair-comment {
	width: 100%;
}

#data-discovery-tabs h5 {
	font-weight : normal;
	font-size : 16px;
}
#data-discovery-tabs h6 {
	clear: both;
}
#data-discovery-tabs .details-content {
	margin-top : 5px;
	padding-top : 5px;
	padding-left: 15px;
	padding-right : 15px;
	padding-bottom : 5px;
	margin-bottom : 15px;
	background-color : #eee;
}

.toggle-details-btn {
	margin-bottom: 10px;
	padding: 1px;
}

.pubs-summary-container img {
	float : left;
	margin-right : 15px;
	margin-bottom: 5px;
	height: 240px;
	width : 190px;
}

.no-style-list {
	list-style-type : none;
}
