<div class="row" style="margin: 0px;">
	<div class="col-xs-12 nwc-container">
		<div class="row">
			<div class="col-xs-12">
				<h3>Aquatic Biology Data and Related Streamflow Statistics</h3>
				<div>
					<em>Coming Soon: Information about Aquatic Biology
					</em>
				</div>
			</div>
		</div>
		<div class="row">
                    <div class="col-xs-12 biodata_container">
                        <script type="text/template" id="biodata-site-template">
                        <table id="sites">
                            <thead>
                                <tr><td>Site ID</td><td>Site Name</td></tr>
                            </thead>
                            <tbody>
                                <% for(i = sites.length - 1; i >= 0; i--) { %>
                                <tr><td><%= site[i].SiteNumber %></td><td><%= site[i].SiteName %></td></tr>   
                                <% } %>
                            </tbody>
                        </table>
                        </script>
                    </div>
		</div>
	</div>
</div>