<div class="row" style="margin: 0px;">
	<div class="col-xs-12 nwc-container">
		<div class="col-xs-12">
			<h3>Aquatic Biology Data and Related Streamflow Statistics</h3>
			<div>
				<em>
					Access aquatic biology data from the
					<a href="https://aquatic.biodata.usgs.gov" target="_blank">BioData</a>
					database and calculate streamflow statistics for near-by stream gages
					or model results.
					<ol>
						<li>Turn on the stream flow data source desired.</li>
						<li>Zoom to the region of interest.</li>
						<li>Select a collection of sites.</li>
						<li>Access data from the BioData system and/or get streamflow statistics.</li>
					</ol>
					Software to calculate these statistics is also available as an open-source R package
					on GitHub: 
					<a href="https://github.com/USGS-R/EflowStats" target="_blank">
						https://github.com/USGS-R/EflowStats <i class="fa fa-external-link"></i>
					</a>
				</em>
			</div>
		</div>
		<div class="col-xs-12">
			Streamflow Type:
                        <button id="gage-layer-button" class="btn btn-primary">Observed</button>
			<!--<div class="btn-group">
				<button id="gage-layer-button" class="btn btn-primary">Observed</button>
				<button id="huc-layer-button" class="btn btn-primary">Modeled</button>
			</div>
			<button id="both-layers-button" type="button" class="btn btn-primary">Both</button>
			<button id="no-layers-button" type="button" class="btn btn-primary">None</button>-->
			<div id="streamflow-observed-info">
				Observed streamflow from 
				<a href="http://waterdata.usgs.gov/nwis" target="_blank">
					National Water Information System <i class=\"fa fa-external-link\"></i>
				</a> 
				&nbsp;Gages.
			</div>
			<div id="modeled-streamflow-info">
				Modeled streamflow data was estimated using methods
				<a href="#!streamflow-stats/model-info" target="_blank">
					described here.<i class="fa fa-external-link"></i>
				</a> 
			</div>
		</div>
		<div class="spacer col-xs-12">
			{{> mapControls }}		
		</div>
		<div class="row col-xs-12 spacer spacer_down">
			<input type="hidden" id="map-search-box" />
		</div>
		<div class="col-xs-12">
			<div id="aquatic-biology-map" class="select-map"></div>
		</div>
	</div>
</div>