<div class="spacer">Select a county to plot water use data</div>
<div id="county-selection-map" style="height:300px;border-style:solid;border-width:1px;"></div>
<div>
	Siczewicz, Peter. U.S. Historical Counties (Generalized .001 deg). Dataset. Emily Kelley, digital 
	comp. Atlas of Historical County Boundaries, ed. by John H. Long. Chicago: The Newberry Library, 
	2011. Available online from 
	<a href="http://publications.newberry.org/ahcbp">http://publications.newberry.org/ahcbp</a>.
</div>
<div id="county-table-div"></div>