<div class="row" style="margin: 0px;">
	<div class="col-xs-12 nwc-container">
		<div class="row">
			<div class="col-xs-12">
				<h3>Search National Water Census Data, Reports, and Projects.</h3>
				<div>
					<em>Coming Soon: Search the repository of records documenting data, reports, and other information
						used or produced by the National Water Census. Choose a category and/or enter a search term to search the 
						catalog.
					</em>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12">
			{{> allProjects }}
			</div>
			<div class="col-xs-12 map_container"></div>
		</div>
		<p>While this page is in construction, the National Water Census
			<a href="http://water.usgs.gov/watercensus/data-products.html" target="_blank">
			Data and Products page <i class="fa fa-external-link"></i></a>
			lists several items of interest.
		</p>
	</div>
</div>