			{{#if detail.body}}
				<h6>Summary</h6>
				{{{detail.body}}}
			{{/if}}
			{{#if detail.purpose}}
				<h6>Purpose</h6>
				{{detail.purpose}}
			{{/if}}
			{{#if detail.webLinks}}
				<h6>Links</h6>
				{{#each detail.webLinks}}
					{{title}}: <a href="{{uri}}">{{uri}}</a><br/>					
				{{/each}}
			{{/if}}
			{{#if detail.tags}}
				<h6>Keywords</h6>
				{{#each detail.tags}}
					{{#if @last }}
						{{name}}
					{{else}}
						{{name}},
					{{/if}}
				{{/each}}
			{{/if}}
			{{#if detail.facets}}
				{{#each detail.facets}}
				{{#if projectStatus}}
					<h6>Status</h6>
					{{projectStatus}}
				{{/if}}
				{{/each}}
			{{/if}}				
			{{#if detail.contacts}}
				<h6>Contacts</h6>			
				{{#each detail.contacts}}
					{{#if @last }}
						{{type}}: {{name}}
					{{else}}
						{{type}}: {{name}},
					{{/if}}
				{{/each}}
			{{/if}}				
			{{#if detail.dates}}
			<h6>Dates</h6>
				{{#each detail.dates}}
					{{#if @last }}
						{{label}}: {{dateString}}
					{{else}}
						{{label}}: {{dateString}},					
					{{/if}}
				{{/each}}
			{{/if}}				
			