	{{#each list}}
		<div class="summary-container-div">
			<h5>{{title}}</h5>
			{{#if ../showSummary}}
				<div class="summary-content-div">
					{{#if summary }}
						{{summary}}
					{{else}}None available{{/if}}
				</div>
			{{/if}}
			{{#if ../showLink}}
				<div><a href="#data-discovery/project/{{id}}">Project Detail Page</a></div>
			{{/if}}
			{{> detailToggle toggleTitle=../toggleTitle toggleIcon=../toggleIcon}}
			<div id="{{id}}" class="details-content" hidden></div>
		</div>
	{{/each}}