			{{#if body}}
				<h6>Summary</h6>
				{{{body}}}
			{{/if}}
			{{#if purpose}}
				<h6>Purpose</h6>
				{{purpose}}
			{{/if}}
			{{#if webLinks}}
				<h6>Links</h6>
				{{#each webLinks}}
					{{title}}: <a href="{{uri}}">{{uri}}</a><br/>					
				{{/each}}
			{{/if}}
			{{#if tags}}
				<h6>Keywords</h6>
				{{#each tags}}
					{{#if @last }}
						{{name}}
					{{else}}
						{{name}},
					{{/if}}
				{{/each}}
			{{/if}}
			{{#if facets}}
				{{#each facets}}
				{{#if projectStatus}}
					<h6>Status</h6>
					{{projectStatus}}
				{{/if}}
				{{/each}}
			{{/if}}				
			{{#if contacts}}
				<h6>Contacts</h6>			
				{{#each contacts}}
					{{#if @last }}
						{{type}}: {{name}}
					{{else}}
						{{type}}: {{name}},
					{{/if}}
				{{/each}}
			{{/if}}				
			{{#if dates}}
			<h6>Dates</h6>
				{{#each dates}}
					{{#if @last }}
						{{label}}: {{dateString}}
					{{else}}
						{{label}}: {{dateString}},					
					{{/if}}
				{{/each}}
			{{/if}}				
			