<div class="center-block">
	<div class="spacer_down ">
		<h4 class="huc-loading-indicator">Loading huc data <i class="fa fa-spinner fa-spin"></i></h4>
		<h4>Precipitation and Evapotranspiration for the Selected Watershed</h4>
		<div class="row">
			<div class="col-sm-6">
				<h5>Hydrologic Unit Code</h5>
				<div class="huc-id">{{ hucId }}</div>
				<h5>Watershed Name</h5>
				<div class="huc-name"></div>
			</div>
		{{#if gageId}}
			<div class="col-sm-6">
				<h5>Gage ID</h5>
				<div id="gage-id">{{ gageId }}</div>
				<div>
				Access data for this site from&nbsp;
				<a href="http://waterdata.usgs.gov/nwis/nwisman/?site_no={{ gageId }}" target="_blank">
					NWIS-Web <i class="fa fa-external-link"></i>
				</a>
				</div>
				<h5>Gage Name</h5>
				<div id="gage-name"></div>
				<h5>Drainage Area (km<sup>2</sup>)</h5>
				<div id="drainage-area"></div>
			</div>
		{{/if}}
	</div>
	<div class="spacer_down spacer">
		<div id="huc-inset-{{ hucId }}" class="inset-map"></div>
	</div>
</div>