<div class="row" style="margin: 0px;">
	<div class="col-xs-12 nwc-container">
		<div class="row">
			<div class="col-xs-12">
				<h3>Data Discovery - Project Detail Page</h3>
			</div>
		</div>
		<div class="row" style="margin: 0px;"><button id="back-button" class="btn btn-primary btn-xs">Back</button></div>		
		<div id="project-details"><h4>Project Information</h4></div>
		<div class="row" style="margin: 0px;"></div>
		<div id="data-details"><h4>Dataset Information</h4></div>
		<div class="row" style="margin: 0px;">&nbsp;</div>
		<div class="row" style="margin: 0px;"><button id="back-button" class="btn btn-primary btn-xs">Back</button></div>		
	</div>
</div>