	<div class="col-xs-12 nwc-container">
		<div class="row">
			<div class="col-xs-12">
				<h3>Data Discovery - Project Detail Page</h3>
			</div>
		</div>
		<div class="row">	
			<div class="col-xs-12">
				<div id="project-details"><h4>Project Information</h4></div>
			</div>
		</div>
		<div class="row">	
			<div class="col-xs-12">
				<div id="data-details"><h4>Dataset Information</h4></div>
			</div>
		</div>
		<div class="row">	
			<div class="col-xs-12">
				<div id="publication-details"><h4>Publication Information</h4></div>
			</div>
		</div>
	</div>