<div class="row">
	<div class="col-xs-12 nwc-container">
		<div class="row">
			<div class="col-xs-12">
				<h3>Streamflow Statistics Calculator</h3>
				<em>Software to calculate these statistics is also available as an open-source R package on
					GitHub:
					<a href="https://github.com/USGS-R/EflowStats" target="_blank">
						https://github.com/USGS-R/EflowStats <i class=\"fa fa-external-link\"></i>
					</a>.
				</em>
				<h4 class="important">Preliminary Subject to Change</h4>
				<span>
					Modeled streamflow is <strong>preliminary</strong> and subject to 
					change. 
					<a href="#/workflow/streamflow-statistics/model-info" target="_blank">
						Documentation in Review. <i class="fa fa-external-link"></i>
					</a>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 map_container">
				<h4 id="loading-indicator">Loading data <i class="fa fa-spinner fa-spin"></i></h4>
				<h4>Select Streamflow Statistics Parameters</h4>
				<p>
					Select a subset of the time series for which you would like to calculate various statistics.
				</p>
				<h5>Hydrologic Unit Code</h6>
				<div id="huc-id">{{ hucId }}</div>
				<h5>HUC Name</h6>
				<div id="huc-name"></div>
				<h5>Drainage Area (km<sup>2</sup>)</h6>
				<div id="huc-drainage-area"></div>
				<div id="huc-inset" style="height:200px;width:200px;border-style:solid;border-width:1px;"></div>
			</div>
		</div>
		<form name="statsParams" novalidate>
			<div class="row">
				<h4 class="text-center">Date Range (Water Years)</h4>

				<div class="col-md-2"></div>
					<div class="col-md-4">
						<label>From:</label>
						<select id="start-year" class="form-control">
							{{#each years}}
								<option value="{{this}}">{{this}}</option>
							{{/each}}
						</select>
					</div>
					<div class="col-md-4">
						<label>To:</label>
						<select id="end-year" class="form-control">
							{{#each years}}
								<option value="{{this}}">{{this}}</option>
							{{/each}}
						</select>
					</div>
					<div class="col-md-2"></div>
			</div>
			<div class="row col-xs-12">
				<h4 class="text-center">Statistic Groups</h4>
				<table class="table table-striped">
					<thead>
						<tr>
							<th>Select</th>
							<th>Statistic Group Name</th>
						</tr>
					</thead>
					<tbody id="available-statistics" ng-repeat="statGroup in streamStatsOptions">
						{{#each streamStatsOptions}}
						<tr>
							<td class="xs-col-2">
								<input type="checkbox" name="{{shortName}}"  value="{{shortName}}"/>
							</td>
							<td class="xs-col-4"><a href="{{url}}" target="_blank">{{longName}} <i class="fa fa-external-link"></i></a></td>
						</tr>
						{{/each}}
					</tbody>
				</table>
			</div>
			<div class="row col-xs-12 text-center">
				<button id="calculate-stats-button" disabled="disabled" class="btn btn-success">Calculate Statistics</button>
			</div>
		</form>
		<div id="stats-results-div" style="display:none;" class="row col-xs-12 table-responsive">
			<div id="stats-results-table-div"></div>
			<div class="col-sm-4 col-sm-offset-8">
				<button id="download-stats-button" class="btn btn-success">Download These Statistics</button>
			</div>
		</div>
		<div ng-hide="!StoredState.streamFlowStatHucFeature" class="row col-xs-12 text-center spacer">
			<button type="button" class="btn btn-success" ng-model="CommonState.showStreamflowPlot" btn-checkbox>Streamflow Data Plot</button>
		</div>
	</div>
</div>
				
			
			