<div class="row">
	<div class="col-xs-12 nwc-container">
		<div class="row">
			<div class="col-xs-12">
				<h3>Streamflow Statistics Calculator</h3>
                                <p>
                                <em>Software to calculate these statistics is also available as an open-source R package on
					GitHub:
					<a href="https://github.com/USGS-R/EflowStats" target="_blank">
						https://github.com/USGS-R/EflowStats <i class=\"fa fa-external-link\"></i>
					</a>.
				</em>
                                </p>
				<span>
                                    <p>
					Modeled streamflow data was created using methods 
					<a href="#streamflow-stats/model-info" target="_blank">
						described here. <i class="fa fa-external-link"></i>
					</a>
                                    </p>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 spacer_down">
				<h4 id="loading-indicator">Loading data <i class="fa fa-spinner fa-spin"></i></h4>
				<h4>Select Streamflow Statistics Parameters</h4>
				<p>
					Select a subset of the time series for which you would like to calculate various statistics.
				</p>
				<p>
					Note that streamflow estimate applies to the watershed selected and all watersheds upstream of it.
				</p>
				<h5>Hydrologic Unit Code</h6>
				<div id="huc-id">{{ hucId }}</div>
				<h5>HUC Name</h6>
				<div id="huc-name"></div>
				<h5>Drainage Area (km<sup>2</sup>)</h5>
				<div id="huc-drainage-area"></div>
			</div>
			<div class="col-xs-12 map_container">
				<div id="huc-inset" class="inset-map"></div>
			</div>
		</div>
		<div class="row col-xs-12 text-center spacer spacer_down">
			<button type="button" class="show-plot-btn btn btn-success">Streamflow Data Plot</button>
			<button style="display:none;" type="button" class="download-streamflow-btn btn btn-success">Download Modeled Streamflow</button>
		</div>
		<div class="streamflow-plot-container"></div>
		{{> streamflowCalcStats }}
	</div>
</div>
				
			
			