<div class="row">
	<div class="col-xs-12 nwc-container">
		<div class="row">
			<div class="col-xs-12">
				<h3>Streamflow Statistics Calculator</h3>
				<em>Software to calculate these statistics is also available as an open-source R package on
					GitHub:
					<a href="https://github.com/USGS-R/EflowStats" target="_blank">
						https://github.com/USGS-R/EflowStats <i class=\"fa fa-external-link\"></i>
					</a>.
				</em>
				<h4 class="important">Preliminary Subject to Change</h4>
				<span>
					Modeled streamflow is <strong>preliminary</strong> and subject to 
					change. 
					<a href="#/streamflow-stats/model-info" target="_blank">
						Documentation in Review. <i class="fa fa-external-link"></i>
					</a>
				</span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 map_container">
				<h4 id="loading-indicator">Loading data <i class="fa fa-spinner fa-spin"></i></h4>
				<h4>Select Streamflow Statistics Parameters</h4>
				<p>
					Select a subset of the time series for which you would like to calculate various statistics.
				</p>
				<h5>Hydrologic Unit Code</h6>
				<div id="huc-id">{{ hucId }}</div>
				<h5>HUC Name</h6>
				<div id="huc-name"></div>
				<h5>Drainage Area (km<sup>2</sup>)</h6>
				<div id="huc-drainage-area"></div>
				<div id="huc-inset" class="inset-map"></div>
			</div>
		</div>
		<div class="row col-xs-12 text-center spacer spacer_down">
			<button id="streamflow-data-plot-button" type="button" class="btn btn-success">Streamflow Data Plot</button>
			<button style="display:none;" id="streamflow-data-download-button" type="button" class="btn btn-success">Download Modeled Streamflow</button>
		</div>
		<h4 id="plot-loading-indicator" style="display:none">Loading plot data <i class="fa fa-spinner fa-spin"></i></h4>
		<div id="streamflow-plot-div" class="row col-xs-12 spacer spacer_down" style="display: none;">
			<div style="height: 400px;" id="modeledQPlot" class="col-xs-10"></div>
			<div class="col-xs-2">
				<div class="row">
					<div id="modeledQLegend" class="col-xs-12"></div>
				</div>
			</div>
		</div>
		{{> streamflowCalcStats }}
	</div>
</div>
				
			
			