<div>
	<div class="download-upstream-container text-center">
		<button class="btn btn-success download-eta-btn" disabled>Download Upstream Evapotranspiration</button>
		<button class="btn btn-success download-precip-btn" disabled>Download Upstream Precipitation</button>
	</div>
	<div class="download-msg-container alert alert-info hidden" role="alert">
		<span class="download-loading-indicator"><i class="fa fa-spinner fa-spin fa-fw fa-lg"></i></span>
		<span class="download-msg"></span>
	</div>
</div>