<div class="row" style="margin: 0px;">
	<div class="col-xs-12 nwc-container">
		<div class="row">
			<div class="col-xs-12">
				<h3>Available Water Budget Components</h3>
				<div>
					{{#if hucId }}
					<em>
						Add an additional watershed to compare precipitation and evapotranspiration data.
						<ol>
							<li>Zoom to a your location of interest.</li>
							<li>Select a watershed of interest to compare to {{hucId}}.</li>
						</ol>
					</em>
					{{else}}
					<em>
						Discover and access precipitation, evapotranspiration, stream flow, and water withdrawal data.
						<ol>	
							<li>Zoom to a your location of interest on the map.</li>
							<li>Use the stream gage layer to find locations with available streamflow.</li>
							<li>Turn on 8 or 12 Digit HUC watershed layer. Streamflow is available for 12 digit only.</li>
							<li>Click a watershed on the map to see its water budget and additional options.</li>
							<li>Water use data for counties intersecting the watershed are available on the next page.</li>
							<li>Streamflow is only available for 12 Digit HUC watersheds with a gage near their outlet.</li>
						</ol>
					</em>
					{{/if}}
				</div>
			</div>
		</div>
		<div class="row spacer col-xs-12">
				{{> mapControls }}
		</div>
		<div class="row col-xs-12 spacer spacer_down waterbudget-map-controls">
			Huc Layer:
			<select class=" huc-layers form-control">
				{{#each hucs}}
				<option value="{{value}}">{{display}}</option>
				{{/each}}
			</select>
			<span>Select watershed layer for display of <a href="http://nhd.usgs.gov/wbd.html" target="_blank">Watershed Boundary Dataset</a> <i class="fa fa-external-link"></i> for which water budget information is available.</span>
		</div>
		{{#if featureToggles.enableAccumulatedWaterBudget}}
		<div class="row col-xs-12 pacer">
			<a id="toggle-gage-layer" class="btn btn-primary" data-toggle="button">Turn Gages <span id="toggle-gage-layer-span">On</span></a>
			<span>Gaged streamflow will be shown on the accumulated waterbudget page of 12 Digit HUC watersheds containing a gage as shown by this layer.</span>
		</div>
		<div class="row col-xs-12 pacer">
			<a id="toggle-modeled-huc-layer" class="btn btn-primary" data-toggle="button">Turn Modeled Watershed <span id="toggle-modeled-huc-layer-span">On</span></a>
			<span>Modeled streamflow will be shown on the accumulated waterbudget page of 12 Digit HUC watersheds.</span>
		</div>
		{{/if}}
		<div class="row">
			<div class="row col-xs-12 spacer spacer_down">
				<input type="hidden" id="map-search-box" />
			</div>
			<div class="col-xs-12">
				<div id="hucSelectMap" class="select-map"></div>
				{{> warningModal }}
			</div>
		</div>
	</div>
</div>
