<div>
	<div class="download-upstream-eta-container">
		<button class="btn btn-success" disabled>Download Upstream Evapotranspiration</button>
		<span class="download-loading-indicator"><i class="fa fa-spinner fa-spin fa-fw fa-3x"></i></span>
		<span class="download-msg bg-info"></span>
	</div>
	<div class="download-upstream-daymet-container">
		<button class="btn btn-success" disabled>Download Upstream Precipitation</button>
		<span class="download-loading-indicator"><i class="fa fa-spinner fa-spin fa-fw fa-3x"></i></span>
		<span class="download-msg bg-info"></span>
	</div>
</div>