<div class="row">
	<div class="col-xs-12 nwc-container">
		<div class="row">
			<div class="col-xs-12">
				<h3>Available Water Budget Components</h3>
				<em>
					Discover and access precipitation and evapotranspiration data for watersheds and counties.
				</em>
			</div>
		</div>
		<div class="row" id="wateruse">
		</div>

		<div class="row">
			<div class="col-md-6 spacer spacer_down">
				<div class="spacer_down">
					<h4 id="huc-loading-indicator">Loading huc data <i class="fa fa-spinner fa-spin"></i></h4>
					<h4>Precipitation and Evapotranspiration for the Selected HUC</h4>
					<h5>Hydrologic Unit Code</h5>
					<div id="huc-id">{{ hucId }}</div>
					<h5>HUC Name</h5>
					<div id="huc-name"></div>
				</div>
				<div class="spacer_down spacer">
					<div id="huc-inset" class="inset-map"></div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="row spacer spacer_down text-center">
					<button id="counties-button" class="btn btn-primary" disabled>Plot County Water Use Data <span class="glyphicon glyphicon-arrow-down"></span></button>
					<span>Or</span>
					<button id="compare-hucs-button" class="btn btn-primary" disabled>Select Huc for Comparison <span class="glyphicon glyphicon-arrow-right"></span></button>
				</div>
				<div class="spacer" id="county-selection-div"></div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3 spacer">
				<div id="units-btn-group" class="col-xs-12 btn-group">
					<button type="button" class="btn btn-primary" id="customary-button" value="usCustomary">US Customary</button>
					<button type="button" class="btn btn-primary" id="metric-button" value="metric">Metric</button>
				</div>			
			</div>
			<div class="spacer col-xs-12" id="huc1-plot-container"></div>
			<div class="col-sm-3 spacer spacer_down">
					<div id="time-scale-btn-group" class="col-xs-12 btn-group">
						<button id="monthly-button" type="button" class="btn btn-primary" value="monthly">Monthly</button>
						<button id="daily-button" type="button" class="btn btn-primary" value="daily">Daily</button>
					</div>
				</div>
			<div class="spacer col-xs-12">
				<div class="row col-xs-12 big_spacer">
				Precipitation and Evapotranspiration data derived from the
				<a href="http://daymet.ornl.gov/" target="_blank">Daymet <i class="fa fa-external-link"></i></a>
				and <a href="http://cida.usgs.gov/thredds/catalog.html?dataset=cida.usgs.gov/ssebopeta/monthly" target="_blank">
				SSEBop <i class="fa fa-external-link"></i></a> datasets, respectively.
				</div>
				<div class="row col-xs-12 big_spacer">
				Drag the handles at then end of the date axis to zoom in. Drag the window you are zoomed on to pan the date window through time.
				</div>
				<div class="row col-xs-12 spacer">
				To access custom subsets of these and other data, visit the <a href="http://cida.usgs.gov/gdp" target="_blank">
				Geo Data Portal <i class="fa fa-external-link"></i></a>.
				</div>
				<div class="row col-xs-12 spacer">
					Siczewicz, Peter. U.S. Historical Counties (Generalized .001 deg). Dataset. Emily Kelley, digital 
					comp. Atlas of Historical County Boundaries, ed. by John H. Long. Chicago: The Newberry Library, 
					2011. Available online from 
					<a href="http://publications.newberry.org/ahcbp">http://publications.newberry.org/ahcbp</a>
				</div>
			</div>
		</div>
	</div>
</div>
