<div>
	<div class="download-upstream-container text-center">
		<button class="btn btn-success download-eta-btn" disabled>Download Upstream Evapotranspiration<br>for each upstream HUC12</button>
		<button class="btn btn-success download-precip-btn" disabled>Download Upstream Precipitation<br>for each upstream HUC12</button>
		<button class="btn btn-success download-shp-btn" disabled>Download Upstream Incremental HUC12<br>polygons as a shapefile</button>
	</div>
	<div class="download-msg-container alert alert-info hidden" role="alert">
		<span class="download-loading-indicator"><i class="fa fa-spinner fa-spin fa-fw fa-lg"></i></span>
		<span class="download-msg"></span>
	</div>
</div>