<div class="spacer col-xs-12">
	<div class="spacer spacer_down col-sm-12">
		<div class="text-center">
			<div class="download-btn-container">
				<button class="btn btn-success download-evapotranspiration-btn" disabled>
				Download Evapotranspiration
				</button>
				<button class="btn btn-success download-precipitation-btn" disabled>
				Download Precipitation
				</button>
			</div>
		</div>
	</div>
	<div style="height: 400px;" class="waterbudget-plot col-sm-12"></div>
	<div class="col-sm-12">
		<div class="row">
			<div  class="waterbudget-legend col-sm-12 height"></div>
		</div>
	</div>
</div>