<div class="spacer col-xs-12">
	<div class="spacer spacer_down col-sm-12">
		<div class="text-center">
			<div class="download-btn-container">
				<button class="btn btn-success evapotranspiration-download-button" disabled>
				Download Evapotranspiration
				</button>
				<button class="btn btn-success precipitation-download-button" disabled>
				Download Precipitation
				</button>
			</div>
		</div>
	</div>
	<div style="height: 400px;" class="waterbudget-plot col-xs-10"></div>
	<div class="col-sm-2">
		<div class="row">
			<div  class="waterbudget-legend col-xs-12"></div>
		</div>
	</div>
</div>