<div class="row" style="margin: 0px;">
	<div class="col-xs-12 nwc-container">
		<div class="row">
			<div class="col-xs-12">
				<h3>Available Water Budget Components</h3>
				<div>
					{{#if hucId }}
					<em>
						Add an additional watershed to compare precipitation and evapotranspiration data.
						<ol>
							<li>Zoom to a your location of interest.</li>
							<li>Select a watershed of interest to compare to {{hucId}}.</li>
						</ol>
					</em>
					{{else}}
					<em>
						Discover and access precipitation and evapotranspiration data for watersheds and counties.
						<ol>	
							<li>Zoom to a your location of interest.</li>
							<li>Turn on the watersheds map layer.</li>
							<li>Select a watershed of interest.</li>
							<li>Water use data for counties intersecting the watershed are available on the next page.</li>
						</ol>
					</em>
					{{/if}}
				</div>
			</div>
		</div>
		<div class="row spacer col-xs-12">
				{{> mapControls }}
		</div>
		<div class="row col-xs-12 spacer spacer_down waterbudget-map-controls">
			Huc Layer:
			<select class=" huc-layers form-control">
				{{#each hucs}}
				<option value="{{value}}">{{display}}</option>
				{{/each}}
			</select>
			<span>Select watershed layer for display of <a href="http://www.horizon-systems.com/NHDPlus/NHDPlusV2_documentation.php" target="_blank">Watershed Boundary Dataset</a> <i class="fa fa-external-link"></i> for which water budget information is available.</span>
		</div>
		{{#if featureToggles.enableAccumulatedWaterBudget}}
		<div class="row col-xs-12 pacer">
			<a id="toggle-gage-layer" class="btn btn-primary" data-toggle="button">Turn Gages <span id="toggle-gage-layer-span">On</span></a>
			<span>Observed runoff will be shown for watersheds containing a gage as shown by this layer.</span>
		</div>
		{{/if}}
		<div class="row">
			<div class="row col-xs-12 spacer spacer_down">
				<input type="hidden" id="map-search-box" />
			</div>
			<div class="col-xs-12">
				<div id="hucSelectMap" class="select-map"></div>
				{{> warningModal }}
			</div>
		</div>
	</div>
</div>
