<h2>Loading Selected Sites In BioData...</h2>
<p>If popup blocking is enabled for this site, you may not be launched automatically into BioData.
    Disable popup blocking for this site in order to easily explore sites in BioData.</p>
    <button class="btn" ui-sref="^.showSelectedBioDataSites"><span class="glyphicon glyphicon-arrow-left"> </span>Back</button>

<form id="bioData_form" style="display:none" method="POST" action="https://aquatic.biodata.usgs.gov/restoreCriteria.action" target="_blank">
    <input type="hidden" name="currentQuery"/>
</form>