<h4 ng-bind="name"></h4>
<p ng-bind="description"></p>

<div class="table-responsive">
	<table class="table table-striped huc_table">
		<thead>
			<tr>
				<th>HUC12</th>
				<th>HUC12 Name</th>
				<th>Area (acres)</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="huc in hucs" ng-click="setHuc(huc)">
				<td ng-bind="huc.data.HUC_12"></td>
				<td ng-bind="huc.data.HU_12_NAME"></td>
				<td ng-bind="huc.data.ACRES"></td>
			</tr>
		</tbody>
	</table>
</div>


<nav>
    <button class="btn" ui-sref="^.selectHuc"><span class="glyphicon glyphicon-arrow-left"> </span>Back</button>
</nav>