<div class="row spacer">
    <div class="col-xs-4"></div>
    <div class="col-xs-4">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-model="StoredState.measurementSystem" btn-radio="'imperial'">Imperial</button>
            <button type="button" class="btn btn-primary" ng-model="StoredState.measurementSystem" btn-radio="'metric'">Metric</button>
        </div>
    </div>
    <div class="col-xs-4"></div>
</div>

<div class="row spacer" ng-hide="hideUse()">
    <div class="col-xs-3"></div>
    <div class="col-xs-6">
        <div class="btn-group">
            <button type="button" class="btn btn-primary" ng-model="StoredState.plotNormalization" btn-radio="'totalWater'">Total County Water Use</button>
            <button type="button" class="btn btn-primary" ng-model="StoredState.plotNormalization" btn-radio="'normalizedWater'">Area Normalized County Water Use</button>
        </div>
    </div>
    <div class="col-xs-3"></div>
</div>


<div class="row col-xs-12" ng-hide="hideUse()">
    <h4 ng-bind=" 'Water Use for ' + StoredState.countyInfo.name + ' County'"></h4>
    <em>Area Averaged Withdrawal Estimates, Use with Caution!</em>
    <p>Water use by county area is represented as evenly distributed across the
        total area of the county. In reality, these water uses are not evenly distributed.
        The water use shown may be concentrated in parts of the county which are outside
        the selected HUC, or may be concentrated in the area of the county which is in
        the selected HUC. Use these estimates with caution.</p>
    <div style="height: 400px;" id="waterUsageChart" class="col-xs-10"></div>
    <div class="col-xs-2">
        <div class="row">
            
        </div>
    </div>
</div>

<div class="row col-xs-12">
    <h4>Precipitation and Evapotranspiration for the Selected HUC</h4>
    <huc-stats info="selectionInfo"></huc-stats>
    <div class="row spacer">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <div class="btn-group">
                <button type="button" class="btn btn-primary" ng-model="StoredState.plotTimeDensity" btn-radio="'monthly'">Monthly</button>
                <button type="button" class="btn btn-primary" ng-model="StoredState.plotTimeDensity" btn-radio="'daily'">Daily</button>
            </div>
        </div>
        <div class="col-xs-4"></div>
    </div>
    <div style="height: 400px;" id="waterBudgetPlot" class="col-xs-10"></div>
    <div class="col-xs-2">
        <div class="row">
            <div id="waterBudgetLegend" class="col-xs-12"></div>
        </div>
    </div>
    <div class="row col-xs-12 big_spacer">
        Drag the handles at then end of the date axis to zoom in. Drag the window you are zoomed on to pan the date window through time.
    </div>
    <div class="row col-xs-12 spacer">
        To access custom subsets of these and other data, visit the <a href="http://cida.usgs.gov/gdp" target="_blank">Geo Data Portal</a>.
    </div>
    <div class="row big_spacer">
        <div class="col-xs-4">
            <download-data-button filename="getHucFilename('eta')"
                                  type="'text/csv'"
                                  data="CommonState.eta.toCSV(downloadMetadata.eta)"
                                  title="'Download Evapotranspiration'">
            </download-data-button>
        </div>
        <div class="col-xs-4">
            <download-data-button filename="getHucFilename('dayMet')"
                                  type="'text/csv'"
                                  data="CommonState.dayMet.toCSV(downloadMetadata.precip)"
                                  title="'Download Precipitation'">
            </download-data-button>
        </div>
        <div class="col-xs-4">
            <download-data-button ng-if="!hideUse()"
                                  filename="getCntyFilename('water use')"
                                  type="'text/csv'"
                                  data="CommonState.WaterUsageDataSeries.toCSV(downloadMetadata.waterUse)"
                                  title="'Download Water Use'">
            </download-data-button>
        </div>
    </div>
</div>
<div class="row col-xs-12 spacer">
    <div class="row col-xs-12" ng-hide="!hideUse()">
        <button class="btn btn-primary" ui-sref="^.selectCounty">Plot Nearby Water Use Data <span class="glyphicon glyphicon-arrow-right"></span></button>
    </div>
    <nav class="spacer">
        <button class="btn" ui-sref="^.selectHuc"><span class="glyphicon glyphicon-arrow-left"></span> Back</button>
    </nav>
</div>
