<h4 ng-bind="name"></h4>
<p ng-bind="description"></p>

<div class="table-responsive">
	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>HUC12</th>
				<th>HUC12 Name</th>
				<th>Area (acres)</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="huc in hucs" ng-click="setHuck(huc)" ui-sref="^.FinalStep">
				<td ng-bind="huc.id"></td>
				<td ng-bind="huc.name"></td>
				<td ng-bind="huc.area"></td>
			</tr>
		</tbody>
	</table>
</div>


<nav>
    <a ui-sref="^.SelectHuc">Back</a>
    <a ui-sref="^.FinalStep">Next</a>
</nav>