<div id="map-controls-div">
	Map Controls:
	<div id="map-controls-group" class="btn-group" data-toggle="buttons">
		<label class="btn btn-primary active">
			<input type="radio" name="map-controls" value="select"/>Select
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="map-controls" value="pan"/>Pan
		</label>
		<label class="btn btn-primary">
			<input type="radio" name="map-controls"class="btn btn-primary" value="zoom" />Zoom
		</label>
	</div>
	{{#if selectBox }}
		<span id="map-control-select">Click and hold to drag a bounding box around sites</span>
	{{else}}
		<span id="map-control-select">Single click selects sites or watershed. Pan by click and drag. Zoom with double click, 
			map buttons or scroll wheel.
		</span>
	{{/if}}
	<span id="map-control-pan">Can pan by click and drag. Zoom with double click, map buttons or scroll wheel</span>
	<span id="map-control-zoom">Click and hold to drag a bounding box to zoom.</span>
</div>		