<div class="row col-xs-12">
    Streamflow Type:
    <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-model="StoredState.interestType" btn-radio="'observed'">Observed</button>
        <button type="button" class="btn btn-primary" ng-model="StoredState.interestType" btn-radio="'modeled'">Modeled</button>
    </div>
    <span ng-bind-html="CommonState.interestTypeDescription.description"></span>
</div>

<div class="row spacer col-xs-12">
    Map Controls:
    <div class="btn-group">
        <button type="button" class="btn btn-primary" ng-model="CommonState.activatedMapControl" btn-radio="'select'">Select</button>
        <button type="button" class="btn btn-primary" ng-model="CommonState.activatedMapControl" btn-radio="'pan'">Pan</button>
        <button type="button" class="btn btn-primary" ng-model="CommonState.activatedMapControl" btn-radio="'zoom'">Zoom</button>
    </div>
    <span>{{CommonState.mapControlDescription}}</span>
</div>

<div class="row spacer spacer_down col-xs-12" ng-show="showGageStyleSelector()">
    Stream Gage Filters:
    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        {{CommonState.gageStyleDescription}}<span> <i class="caret"></i></span>
        </button>
        <ul class="dropdown-menu" role="menu">
            <li role="menuitem"><a ng-model="StoredState.gageStyle" btn-radio="'default'">{{styleDescriptions.default.description}}</a></li>
            <li role="menuitem"><a ng-model="StoredState.gageStyle" btn-radio="'active'">{{styleDescriptions.active.description}}</a></li>
            <li role="menuitem"><a ng-model="StoredState.gageStyle" btn-radio="'reference'">{{styleDescriptions.reference.description}}</a></li>
            <li role="menuitem"><a ng-model="StoredState.gageStyle" btn-radio="'por'">{{styleDescriptions.por.description}}</a></li>
        </ul>
    </div>
    Options to filter displayed stream gages from the <a href="http://pubs.er.usgs.gov/publication/70046617">Gages II dataset</a>
</div>
<div id="siteSelectMap" class="row spacer col-xs-12" style="height: 500px;" ng-style="CommonState.mapControlCursor"></div>