
<h4 ng-bind="name"></h4>
<p ng-bind="description"></p>

<site-stats></site-stats>

<form name="statsParams" novalidate ng-show="siteStatisticsParameters && siteStatisticsParameters.startDate && siteStatisticsParameters.endDate">
<div class="row">
    <h4 class="text-center">Date Range</h4>
    
    <div class="col-md-2"></div>
        <div class="col-md-4">
            <label>From:</label>

            <p class="input-group">

              <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="siteStatisticsParameters.startDate" min="minDate" max="siteStatisticsParameters.endDate" ng-required="true" close-text="Close" is-open="minDateOpened"/>
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="openMinDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <div class="col-md-4">
            <label>To:</label>

            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="siteStatisticsParameters.endDate" min="siteStatisticsParameters.startDate" max="maxDate"   ng-required="true" close-text="Close" is-open="maxDateOpened"/>
              <span class="input-group-btn">
                <button class="btn btn-default" ng-click="openMaxDatePicker($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
        <div class="col-md-2"></div>
</div>
<div class="row">
    <h4 class="text-center">Statistic Groups</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Select</th>
                <th>Statistic Group Name</th>
            </tr>
        </thead>
        <tbody ng-repeat="statGroup in streamStatsOptions">
            <tr>
                <td class="xs-col-2">
                    <input type="checkbox" name="statGroup.shortName" checklist-model="StoredState.siteStatisticsParameters.statGroups" checklist-value="statGroup.shortName"/>
                </td>
                <td class="xs-col-4"><a href="{{statGroup.url}}" target="_blank">{{statGroup.longName}} <i class="fa fa-external-link"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>
    
    <div class="text-center">
        <button ng-disabled="statsParams.$invalid || !StoredState.siteStatisticsParameters.statGroups.length" class="btn btn-success" ng-click="calculateStats()">Calculate Statistics</button>
    </div>
</form>

<nav>
    <button class="btn" ui-sref="^.selectSite"><span class="glyphicon glyphicon-arrow-left"> </span>Back</button>
</nav>